/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.site-content {
	display: flex;
	justify-content: space-between;
}

.post , .post-12 {
	padding-top: 3rem;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-left: 13rem;
}

.type-post {
	.entry-header {
		position: relative;
		color: $brand_white;
		margin: 3rem 0;
		img {
			width: 100%;
			height: 100%;
		}
		a {
			color: $brand_white;
			text-decoration: none;
			&:hover {
				color: $brand_yellow;
			}
		}
		.entry-title {
			position: absolute;
			top: 6px;
			background-color: $brand_green;
			padding: 5px 50px 5px 20px;
			max-width: 75%;
			@include font-size(2.3);
		}
		.entry-meta {
			position: absolute;
			bottom: 6px;
			right: 0px;
			background-color: $brand_green;
			padding: 5px 20px;
		}
	}
}

.cat-links, .tags-links {
	font-family: $font__accent;
	text-transform: uppercase;
	margin-right: 2rem;
}

.widget-area {
	border-left: $border_solid;
	width: 100%;
	padding: 0 4rem;
	margin-right: 6rem;
	margin-top: 3rem;
	
	h2 {
		text-transform: uppercase;
	}
}

.site-footer {
	background: url('../../images/dark-wood.png');
	height: 10rem;
	width: 100%;
}

.post-9 {
	h1, h2 {
		text-align: center;
	}
	.entry-content {
		margin: 0 28rem;
	}
	
	.custom-hero {
		color: $brand_white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: 100vh;
	}
}

.product-grid {
	display: flex;
	flex-basis: 25%;
	justify-content: space-around;
	flex-wrap: wrap;

}

.archive-container {
	margin: 4rem 18rem;
}