/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.hfeed.site {
	display: flex;
	flex-wrap: wrap;
}

.site-content {
	display: flex;
	justify-content: space-between;
}

.content-area {
	padding: 50px 50px;
	margin-left: 250px;
}

.widget-area {
	border-left: 1px solid $color__border-abbr;
	padding: 50px 50px;
	margin-right: 300px;
}