/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.site {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.site-main {
	padding-bottom: 3rem;
}

.site-content {
	display: flex;
	justify-content: space-between;
	width: 1150px;
}

.post , .post-12 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	// padding-left: 4rem;
	padding-right: 4rem;
	// margin-left: 13rem;
}

.type-post {
	.entry-header {
		position: relative;
		color: $brand_white;
		img {
			width: 100%;
			height: 100%;
		}
		a {
			color: $brand_white;
			text-decoration: none;
			&:hover {
				color: $brand_yellow;
			}
		}
		.entry-title {
			position: absolute;
			top: 6px;
			background-color: $brand_green;
			padding: 5px 50px 5px 20px;
			max-width: 75%;
			@include font-size(2.2);
		}
		.entry-meta {
			position: absolute;
			bottom: 6px;
			right: 0px;
			background-color: $brand_green;
			padding: 5px 20px;
		}
	}
}

.single-post {
	.widget-area {
		width: 140%;
	}
}

.page-id-12 {
	.widget-area {
		width: 50%;
	}
}

.cat-links, .tags-links {
	font-family: $font__accent;
	text-transform: uppercase;
	margin-right: 2rem;
}

.widget-area {
	border-left: $border_solid;
	width: 100%;
	padding-left: 4rem;
	// margin-right: 6rem;
	margin-top: 3rem;

	
	h2 {
		text-transform: uppercase;
	}
}

.site-footer {
	height: 22rem;
	background: url('../../images/dark-wood.png');
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	.footer-copyright {
		text-align: center;
		color: $brand_white;
		font-family: $font__accent;
		text-transform: uppercase;
	}
	.footer-container {
		height: 80%;
		width: 70%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.site-logo {
			img {
				height: 50px;
				width: 280px;
			}
		}
		.secondary {
			display: flex;
			justify-content: space-between;
			width: 50%;
			color: $brand_white;
			i {
				font-size: 1.2rem;
			}
			a {
				color: $brand_white;
			}
			h3 {
				color: $brand_orange;
			}
		}

	}
}


.page-template-about .site-content, .page-id-5 .site-content {
	width: 100%;

	section {
		width: 70%;
	}
	.site-main {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}


.tax-product-type .site-content {
	width: auto;
	margin: 0;
}

.post-9 {
	display: flex;
	flex-direction: column;
	align-items: center;
	h1, h2 {
		text-align: center;
	}
	.entry-content {
		margin: 0 0;
		width: 47%;
	}
	
	.custom-hero {
		color: $brand_white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: 100vh;
		width: 100vw;
	}
}

.product-grid {
	display: flex;
	flex-basis: 25%;
	justify-content: space-around;
	flex-wrap: wrap;

	.product-grid-item {
		.entry-title {
			background: #fff;
			display: inline;
			font-size: 1rem;
			font-weight: normal;
			font-family: $font__main;
			letter-spacing: 0;
			line-height: 1.75;
			text-transform: none;
			padding-right: 0.15rem;
		}
		.entry-title:before {
			position: absolute;
			width: 0;
			float: left;
			white-space: nowrap;
			content: "..........................................";
			z-index: -1;
		}
		
	}

	.thumbnail-wrapper {
		position: relative;
		height: 250px;
		width: 250px;
		overflow: hidden;
		background-color: $brand_grey_light;
		.wp-post-image {
			max-height: 250px;
			max-width: none;
			width: auto;
			transform: translate(-50%, -52%);
			position: absolute;
			top: 50%;
			left: 50%;

		}
	}

	.product-info {
		padding: 0.75rem 1rem;
		width: 250px;
		@include font-size(0.9);
		border: $border_solid;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			color: $color__text_main;
		}
		
	}

}

.archive-container {
	margin: 4rem 0;
}

.page-header h1 {
	text-align: center;
}

.site-content .black-btn, .site-content .read-more {
	border: 1px solid #000;
	color: #000;
	padding: 0.5rem 1rem;
	a {
		color: #000;
	}
	&:hover, &:active, &:focus {
		background: $brand_green;
		border: 1px solid $brand_green;
		color: $brand_white;
	}

}

.home-hero {
	height: 100vh;
	width: 100vw !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.latest-entries {
	ul {
		display: flex;
		list-style-type: none;
		justify-content: space-between;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;

	}
	li {
		border: $border_solid;
		flex: 1 0 32%;
	}
	.thumbnail-wrapper {
		height: 250px;
		position: relative;
		background-color: $brand_grey_light;
		overflow: hidden;
		img {
			max-height: 250px;
			max-width: none;
			width: auto;
			transform: translate(-50%, -52%);
			position: absolute;
			top: 50%;
			left: 50%
		}
	}
}

.archive-container .page-header {
	border-bottom: $border_dashed;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.term-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
	width: 30%;
	text-transform: uppercase;
	font-family: $font__accent;
	font-size: 1.1rem;

}

.tax-product-type .product-grid {
	.product-grid-item {
		margin: 0 1.2rem;
	}
}

.post-12, .search .content-area {
	margin-top: 3rem;
}

.wpcf7-form {
	label {
		font-family: $font__accent;
		text-transform: uppercase;
		span {
			color: $brand_orange;
		}
	}
}

.adventures {
	height: 50rem;

	.adventure-row {
		display: flex;
		justify-content: space-between;

	}

	.adventure-row-1 {
		height: 540px;
	}
	.adventure-row-2 {
		height: 270px;
	}

	.adventure-col {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.adventure-item {
		box-sizing: border-box;
		border: 1rem solid #fff;
		flex: 1 0 50%;
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		color: $brand_white;
		.adventure-info {
			padding: 1rem 1rem;
		}
	

		h2 {
			font-family: $font__main;
			font-weight: normal;
		}


	}

	.adventure-item-1 {
		h2 {
			font-size: 3rem;
		}
	}

	.adventure-item-2 {
		h2 {
			font-size: 2.4rem;
		}
	}

	.adventure-item-3 , .adventure-item-4 {
		h2 {
			font-size: 1.6rem;
		}
	}

}

.search, .category, .tag {
	.site-main {
		margin-right: 4rem;
	}
	.page-header {
		.page-title {
			border-bottom: $border_solid;
			text-align: left;
		}
	}
}

.single, .blog, .category, .tag {
	.site-main {
		padding-top: 5rem;
	}
}

.single-product {
	.entry-title {
		color: $brand_orange;
	}
	.hentry {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.product-image-wrapper {
			width: 48%;
		}
		.product-info-wrapper {
			width: 48%;
		}
		.price {
			font-size: 1.8rem;
			text-transform: uppercase;
			font-family: $font__accent;

		}
	}
}

