/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header {
	border-bottom: $border_solid;
	position: fixed;
	top: 33px;
	left: 0;
	right: 0;
	background-color: hsla(0,0%,100%,.85);
	z-index: 3;
	padding: 0.5rem 16.5rem;
	display: flex;
	justify-content: space-between;
	.nav-and-search-container {
		display: flex;
		align-items: center;
	}
}


/* Links */

a {
	color: $brand_green;

	&:visited {
		color: $brand_green;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	.menu-primary-menu-container {
		height: 100%;
	}
	.menu-primary-menu-container ul {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: flex-end;
		align-items: center;	
	}

	.menu-primary-menu-container ul li {
		margin: 5px 20px;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.site-branding {
	.logo {
		background: url("../../images/inhabitent-logo-tent.svg") no-repeat;
		background-size: 50px 33px;
		height: 33px;
		width: 50px;
		white-space: nowrap;
		overflow: hidden;
	}
	a {
		display: block;
		padding: 0.75rem 1rem;
	}
}


// .page-template-about, .page-id-5 {
// 	.site-header {
// 		a {
// 			color: $brand_white;
// 		}
// 		background: rgba(0,0,0,0);
// 		border : 0px solid #000;
// 	}
// 	.site-branding .logo {
// 		background: url("../../images/inhabitent-logo-tent-white.svg") no-repeat;
// 		background-size: 50px 33px;
// 	}
// }

.nav-search-field {
	background-color: transparent !important;
	font-family: $font__accent;
	outline: none;
	border: 0;
	&::placeholder {
		text-transform: uppercase;
	}
	&:focus, &:active {
		outline: none;
		border: 0;
	}
}

.page-numbers {
	color: $brand_white !important;
	background-color: $brand_green;
	padding: 0.2rem 0.4rem;
	&:hover, &:active, &:focus {
		background-color: $brand_green_dark;
	}
}

.page-numbers.current {
	background-color: $brand_grey_medium;
}

.social-links {
	text-transform: uppercase;
	font-family: $font__accent;
	font-size: 0.9rem;
}

.green-btn {
	color: $brand_white !important;
	background-color: $brand_green;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	font-family: $font__accent;
	font-size: 0.9rem;
	&:hover, &:visited, &:active, &:focus {
		color: $brand_white;
	}
	&:hover {
		background-color: $brand_green_dark;
	}

}

.white-btn {
	color: $brand-white;
	border: 1px solid #fff;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-family: $font__accent;
	&:hover, &:visited, &:active, &:focus {
		color: $brand_white;
	}
}