/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */


.home {
	h2 {
		font-size: 2.4rem;
		font-weight: normal;
		margin-bottom: 3.75rem;
		text-align: center;
	}
	
	section {
		margin-bottom: 3.75rem;
	}

	.product-info {
		.product-type-items {
			display: flex;
			justify-content: space-between;
			text-align: center;
			.product-type-item {
				border: $border_solid;
				border-top-width: 5px;
				flex: 0 1 23.5%;
				max-width: 23.5%;
				padding: 0.75rem;
				img {
					height: 70px;
					width: 70px;
				}
			}
		}
	}
	
	.latest-entries {
		h3 {
			font-size: 1.3rem;
		}
		ul {
			display: flex;
			list-style-type: none;
			justify-content: space-between;
			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;

		}
		li {
			border: $border_solid;
			flex: 1 0 32%;
			position: relative;
			max-width: 30%;
		}
		.thumbnail-wrapper {
			height: 250px;
			position: relative;
			background-color: $brand_grey_light;
			overflow: hidden;
			img {
				max-height: 250px;
				max-width: none;
				width: auto;
				transform: translate(-50%, -52%);
				position: absolute;
				top: 50%;
				left: 50%
			}
		}
		.post-info-wrapper {
			flex-direction: column;
			justify-content: space-between;
			padding: 0.75rem;
			p {
				font-size: 0.75rem;
				line-height: 1;
				margin: 0;
			}
		}

	}

	.adventures {
		height: 50rem;
		.green-btn {
			font-size: 1.2rem;
		}
		.adventure-row {
			display: flex;
			justify-content: space-between;

		}

		.adventure-row-1 {
			height: 540px;
		}
		.adventure-row-2 {
			height: 270px;
		}

		.adventure-col {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.adventure-item {
			box-sizing: border-box;
			border: 0.75rem solid #fff;
			flex: 1 0 50%;
			background-size: cover, cover;
			background-repeat: no-repeat, no-repeat;
			color: $brand_white;
			.adventure-info {
				padding: 1rem 1rem;

			}
		

			h2 {
				font-family: $font__main;
				font-weight: normal;
				text-transform: none;
				text-align: left;
				margin: 1.5rem 0;
                color: $brand_white;
			}


		}

		.adventure-item-1 {
			h2 {
				font-size: 3rem;
			}
		}

		.adventure-item-2 {
			h2 {
				font-size: 2.4rem;
			}
		}

		.adventure-item-3 , .adventure-item-4 {
			h2 {
				font-size: 1.6rem;
			}
		}

	}
}


/* 404 page */

.error404 {
	.widgettitle, .widget-title {
		font-size: 1.5rem;
	}
}



/* single product page*/

.single-product {
	.entry-title {
		color: $brand_orange;
	}
	.hentry {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.product-image-wrapper {
			width: 48%;
		}
		.product-info-wrapper {
			width: 48%;
		}
		.price {
			font-size: 1.8rem;
			text-transform: uppercase;
			font-family: $font__accent;

		}
	}
}